/* .homepage {

} */
.homepage > .links {
    text-align: center;
    padding: 40px;
}
.homepage > .links > * {
    margin: 10px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    font-size: 40px;
    color: black;
    text-decoration: none;
}
/* .homepage > .links > * > .number {

} */
.homepage > .links > * > .arrow {
    font-weight: bold;
}
.homepage > .links > * > .image {
    vertical-align: middle;
}
.image > img {
    height: 1em;
}

.homepage > .description {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
