.encryptor {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
.encryptor > .input-field {
    width: auto;
}
.encryptor > .input-field > * {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.encryptor > .input-field > input {
    height: 2em;
}
